<div id="news-category">
    <div class="row">
      <!-- title -->
      <div class="col-12 title">
        <div class="wrap">
          <span class="icon">
            <i class="fa fa-bookmark"></i>
          </span>
          <span class="text">
            Các dịch vụ
          </span>
        </div>
      </div>
      <!-- end title -->
      <!-- item -->
      <div class="col-12" *ngFor="let service of listService">
        <div class="item">
            <div class="row content">
              <div class="left col-3">
                <figure>
                  <img src="{{ service.image_service }}" alt="" width="100%">
                </figure>
              </div>
              <div class="right col-9">
                <!-- tiêu đề tin tức -->
                <div class="titile-content">
                    <div class="text">
                      <a routerLink="/list-services/detail-service/{{ service.id_service }}">{{ service.title_service }}</a>
                    </div>
                </div>
                <!-- end tiêu đề tin tức -->
                <div class="date-published">
                  <span class="wrap-date">
                    <span class="icon">
                      <i class="fa fa-calendar"></i>
                    </span>
                    
                    <span class="text">
                      {{ service.time_service }}
                    </span>
                  </span>
                  <span class="wrap-author">
                      <span class="icon">
                          <i class="fa fa-pencil"></i>
                      </span>
                      <span class="text">
                        {{ service.name_user }}
                      </span>
                  </span>
                  <span class="wrap-views">
                    <span class="icon">
                      <i class="fa fa-eye"></i>  
                    </span>
                    <span class="text">
                      {{ service.view_service }}
                    </span>
                  </span>
                </div>
                <div class="text">
                    {{ service.excerpt_service }}
                    <a class="btn btn-primary" routerLink="/list-services/detail-service/{{ service.id_service }}">
                      Chi tiết
                    </a>
                </div>
              </div>
            </div>
        </div>
      </div>
      <!-- end item -->
    </div>
  </div>