<footer id="footer">
  <div class="container">
    <div class="row" id="footer-header">
      <!-- cột 1 -->
      <div class="col-12 col-md-6 col-xl-3">
        <div class="title">
          Liên hệ
        </div>
        <div class="content-item">
          <!-- địa chỉ -->
          <div class="address info item">
            <span class="icon"><i class="fa fa-home"></i></span>
            <span class="wrap-text">
              <span class="text"> {{ address }} </span>
            </span>
          </div>
          <!-- email -->
          <div class="email info item">
            <div class="item">
              <span class="icon"><i class="fa fa-envelope-o"></i></span>
              <span class="wrap-text">
                <span class="text"> {{ email }} </span>
              </span>
            </div>
          </div>
          <div class="phone info item">
            <span class="icon"><i class="fa fa-phone"></i></span>
            <span class="wrap-text">
              <div class="text"> {{ phone_number }} </div>
              <!-- <div class="text">(028) 38 336 777 </div> -->
            </span>
          </div>
          <!-- <div class="hotline info item">
            <span class="icon"><i class="fa fa-phone"></i></span>
            <span class="wrap-text">
              <span class="text">(028) 38 336 777 </span>
            </span>
          </div> -->
        </div>
      </div>
      <!-- hết cột 1 -->
      <!-- cột 2 -->
      <div class="col-12 col-md-6 col-xl-3">
        <div class="title">
          Tự vấn điện thoại
        </div>
        <div class="content-item">
          <div class="wrap-text">
            <div class="item">
                Hỗ trợ Online 24/24
            </div>
          </div>
          <div class="info-social">
            <div class="icon-facebook icon">
              <a href="{{link_facebook}}">
                <i class="fa fa-facebook"></i>
              </a>
            </div>
            <div class="icon-youtube icon">
                <a href="{{link_youtube}}">
                  <i class="fa fa-youtube"></i>
                </a>
            </div>
            <div class="icon-pinterest icon">
                <a href=""><i class="fa fa-pinterest"></i></a>
            </div>
            <div class="icon-instagram icon">
                <a href=""><i class="fa fa-instagram"></i></a>
            </div>
          </div>
        </div>
      </div>
      <!-- hết cột 2 -->
      <!-- cột 3 -->
      <div class="col-12 col-md-6 col-xl-3">
        <div class="title">
          Thời gian làm việc
        </div>
        <div class="content-item">
          <div class="wrap-text">
            <div class="item">
                Giờ mở cửa : 08h30 – 19h00
            </div>
            <div class="item">
                Từ Thứ Hai Đến Thứ Bảy
            </div>
            <div class="item">
                Từ Thứ Hai Đến Thứ Bảy
                Chủ Nhật làm việc từ 8h30 – 13h
            </div>
          </div>
        </div>
      </div>
      <!-- hết cột 3 -->
      <!-- cột 4 -->
      <div class="col-12 col-md-6 col-xl-3">
        <div class="title">
          Mạng xã hội
        </div>
        
        <fb-page href="{{link_facebook}}"
        smallHeader="true"
        width="300"
        hideCover="false"
        showFacepile="true">
        </fb-page>
      </div>
      <!-- hết cột 4 -->
    </div>
    <div class="row" id="footer-bottom">
      <div class="col-12">
          © 2018 Nha Khoa. *Lưu ý: Kết quả thực tế có thể khác nhau tùy theo thể trạng mỗi người.
      </div>
    </div>
  </div>
  <div class="scroll-top">
    <i class="fa fa-arrow-up"></i>
  </div>
</footer>
