<div class="info-account">
    <!-- title -->
    <div class="title">
      <div class="wrap">
        <span class="icon">
          <i class="fa fa-bookmark"></i>
        </span>
        <span class="text">
          Lịch sử khám
        </span>
      </div>
    </div>
    <!-- end title -->
    <div class="content">
        <div class="row">

          <!-- alert success -->
          <div class="col-12 alert alert-success" role="alert" *ngIf="alertSuccess">
            Cập nhật thành công!!
          </div>
          <!-- end alert success -->

            <div class="col-12">
              <form  #formRegister="ngForm" (ngSubmit)="onSubmit(formRegister)">

                <!-- field password -->
                <div class="form-group row">
                    <label for="password_current" class="text-right col-12 col-sm-3 col-form-label">Mật khẩu hiện tại</label>
                    <div class="col-12 col-sm-9">
                      <input 
                      type="password" 
                      class="form-control" 
                      id="password_current" 
                      name="password_current"
                      placeholder="Mật khẩu"
                      ngModel
                      #passwordCurrent="ngModel"
                      required
                      [ngClass]="(passwordCurrent?.errors?.required && passwordCurrent?.touched) || 
                      (passwordCurrent?.errors?.required && formRegister.submitted) ? 
                      'is-invalid' : 
                      ((isPasswordCurrent && passwordCurrent?.touched) || 
                      (isPasswordCurrent && formRegister.submitted) ? 
                      'is-valid' : (passwordCurrent?.touched ? 'is-invalid' : '') )"
                      >
                      <!-- feedback -->
                      <div class="invalid-feedback" 
                      *ngIf="(passwordCurrent?.errors?.required && passwordCurrent?.touched) || 
                      (passwordCurrent?.errors?.required && formRegister.submitted) ? 
                      'true' : false">
                        Vui lòng nhập mật khẩu
                      </div>
                      <!-- feedback -->
                      <div class="invalid-feedback" 
                      *ngIf="(!passwordCurrent?.errors?.required && passwordCurrent?.touched && !isPasswordCurrent) || 
                      (!passwordCurrent?.errors?.required && formRegister.submitted && !isPasswordCurrent) ? 
                      'true' : false">
                        Mật khẩu hiện tại không đúng.
                      </div>
                      
                    </div>
                  </div>
                  <!-- end field password -->


                <!-- field password -->
                <div class="form-group row">
                  <label for="password" class="text-right col-12 col-sm-3 col-form-label">Mật khẩu mới</label>
                  <div class="col-12 col-sm-9">
                    <input 
                    type="password" 
                    class="form-control" 
                    id="password" 
                    name="password"
                    placeholder="Mật khẩu"
                    ngModel
                    #password="ngModel"
                    required
                    pattern="[a-zA-Z0-9]{8,16}"
                    [ngClass]="(password?.errors?.required && password?.touched) || 
                    (password?.errors?.required && formRegister.submitted) ? 
                    'is-invalid' : 
                    ((password?.valid && password?.touched) || 
                    (password?.valid && formRegister.submitted) ? 
                    'is-valid' : (password?.touched ? 'is-invalid' : '') )"
                    >
                    <!-- feedback -->
                    <div class="invalid-feedback" 
                    *ngIf="(password?.errors?.required && password?.touched) || 
                    (password?.errors?.required && formRegister.submitted) ? 
                    'true' : false">
                      Vui lòng nhập mật khẩu
                    </div>
                    <!-- feedback -->
                    <div class="invalid-feedback" 
                    *ngIf="(!password?.errors?.required && password?.touched && password?.invalid) || 
                    (!password?.errors?.required && formRegister.submitted && password?.invalid) ? 
                    'true' : false">
                      Mật khẩu phải có 8-16 kí tự.
                    </div>
                  </div>
                </div>
                <!-- end field password -->
                <!-- field comfirm password -->
                <div class="form-group row">
                  <label for="comfirm-password" class="text-right col-12 col-sm-3 col-form-label">Xác nhận mật khẩu</label>
                  <div class="col-12 col-sm-9">
                    <input 
                    type="password" 
                    class="form-control" 
                    id="comfirm-password" 
                    name="comfirmPassword"
                    placeholder="Xác nhận mật khẩu"
                    ngModel
                    #comfirmPassword="ngModel"
                    required
                    pattern="[a-zA-Z0-9]{8,16}"
                    [ngClass]="(comfirmPassword?.errors?.required && comfirmPassword?.touched ) || 
                    (comfirmPassword?.errors?.required && formRegister.submitted ) ? 
                    'is-invalid' : 
                    ((comfirmPassword?.touched && (comfirmPassword.value == password.value)) || 
                    (formRegister.submitted && (comfirmPassword.value == password.value))
                    ? 'is-valid' : 
                    ( comfirmPassword?.touched || formRegister.submitted ? 'is-invalid' : '') )"
                    >
                    <!-- feedback -->
                    <div class="invalid-feedback">
                      Mật khẩu không trùng khớp.
                    </div>
                  </div>
                </div>
                <!-- end field comfirm password -->

                          <!-- end field address -->
                <div class="form-group row">
                  <label for="inputPassword3" class="col-12 text-right col-sm-3 col-form-label"></label>
                  <div class="col-12 col-sm-9">
                    <button type="submit" class="btn btn-primary">Cập nhật</button>
                  </div>
                </div>
              </form>

              <!-- end form -->
            </div>
        </div>
    </div>
  </div>
  