@media screen and (max-width: 992px) {
    .col-form-label{
        text-align: left!important
    }
}

#login .title{
    border-top: 1px solid #f1f1f1;
    border-bottom: 1px solid #f1f1f1;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-bottom: 15px;
}
#login .title > .wrap > .icon{
    margin-right: 10px;
    display: inline-block;
}
#login .title > .wrap > .icon i{
    font-size: 25px;
    color: #666666;
}
#login .title > .wrap > .text{
    color: rgb(240, 135, 15);
    font-size: 30px;
    font-weight: 700;
    font-family: "Roboto Condensed Regular", "Open Sans", "Roboto Condensed Regular", "Open Sans", Arial, Helvetica, sans-serif;
    text-transform: capitalize;
}
#login label{
    font-weight: 700;
}