  <app-sidebar></app-sidebar>
  <div class="page">
    <!-- header -->
    <!-- navbar-->
    <app-header></app-header>
    <!-- end header -->
    <section class="content mt-30px">
      <div class="container-fluid">
        <router-outlet></router-outlet>
      </div>
    </section> 
    
    <footer class="main-footer">
      <div class="container-fluid">
        <div class="row">
          <div class="col-sm-6">
            <p>Ucare &copy; 2017-2019</p>
          </div>
          <div class="col-sm-6 text-right">
          </div>
        </div>
      </div>
    </footer>
  </div>