<div id="profile-customer">
  <div class="row">
    <div class="left">
      <!-- list option -->
      <ul class="list-group">
        <li class="list-group-item title">Thông tin khách hàng</li>

        <li class="list-group-item item">
          <a routerLink="/profile-customer/info-account" routerLinkActive="active">Thông tin tài khoản</a>
        </li>
        <li class="list-group-item item">
            <a routerLink="/profile-customer/registration" routerLinkActive="active">Đăng kí khám</a>
        </li>

        <li class="list-group-item item">
            <a routerLink="/profile-customer/change-password" routerLinkActive="active">Đổi mật khẩu</a>
        </li>

        <li class="list-group-item item" (click)="logOut();">
          <a>Thoát</a>
        </li>
      </ul>
      <!-- end list option -->
    </div>
    <div class="right">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>